[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[scripts]
start="flask run -p 3000 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
ruff-check="ruff check"
ruff-format="ruff format"
reset_db="bash reset_migrations.bash"
insert-test-users="flask insert-test-users 5"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
Flask-Bcrypt = "*"
flask-restx = "*"
psycopg2-binary = "*"
python-dotenv = "*"
mysql-connector-python = "*"
flask-cors = "*"
gunicorn = "*"
mysqlclient = "*"
flask-admin = "*"
typing-extensions = "*"
pre-commit = "*"


[dev-packages]
pytest-cov = "==3.*"
ruff = "*"
